.App {
  text-align: center;
  background-color: #f9f9f9;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.title {
  background-color: rgb(66 79 82);
  padding: 10px 10px;
  width: 100%;
  height: 3%;
  top: 0;
  position: fixed;
}

.project {
  width: 4%;
  height: 100%;
  left: 0%;
  position: fixed;
  background-color: darkgray;
}
.welcome {
  width: 45%;
  height: 10%;
  background: rgb(255, 255, 255);
  color: rgb(71, 63, 63);
  transition: all 3s;
  position: relative;
  border: solid 1px rgb(38, 95, 46);
  border-radius: 5%;
  padding: 10px 15px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #d9d9d9c9;
  box-shadow: inset 0px 0px 20px 0px black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#maryam {
  color: red;
}

#abdelrahman {
  color: #61dafb;
}

textarea {
  resize: none;
  background-color: #fcfcfc;
}

#list {
  position: fixed;
  width: 3.5%;
  height: 100%;
  background-color: #f3f3f3;
  border-right: solid 1px #e5e5e5;
  transition: all 1s;
}
#list:hover {
  width: 6%;
}

#chats {
  position: fixed;
  left: 5%;
  background-color: #d9d9d9c9;
  height: 100%;
  width: 20%;
}

.custom-context-menu {
  position: absolute;
  background: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px;
}

.custom-context-menu li:hover {
  background: #ddd;
}

.Login {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-Login {
  width: 40%;
  height: 60%;
  border-radius: 2%;
  background-color: #fcfcfc;
  border: solid 1px rgb(138, 135, 135);
}