.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.title {
  background-color: rgb(29, 82, 95);
  padding: 10px 10px;
  width: 100%;
  height: 3%;
  top: 0;
  position: fixed;
}

.project {
  width: 50%;
  height: 100%;
  left: 50%;
  position: fixed;
  background-color: darkgray;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: rgb(128, 109, 84);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
